{% extends 'base.html.twig' %}

{% block body %}
    <div class="starter-template">
        <h1 class="display-1">Petshop</h1>
        <p class="lead">Avançando com symfony 4, aperfeiçoando doctrine.</p>
    </div>
{% endblock %}
