{% extends "base.html.twig" %}

{% block title %}Listagem de animais - {% endblock %}

{% block body %}
    <h1>Listagem de animais</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="" class="btn btn-primary pull-right">Cadastrar Animal</a>
        </div>
    </div>
    <table class="table table-hover table-striped mt-3">
        <thead>
        <tr>
            <th>Cod</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in animais %}
            <tr>
                <td>{{ animal.id }}</td>
                <td><a href="">{{ animal.nome }}</a></td>
                <td>{{ animal.dataNascimento }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum registro encontrado!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
